
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter text-white bg-violet;
  }
}

@layer components {

}

@layer utilities {
  .container {
    @apply max-w-7xl m-auto px-4 md:px-4; 
  }
  .iti__selected-dial-code {
    @apply text-gray-300;
  }
}

.row-wrap {
  flex-flow: row wrap;
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-6px,8px);
}
.toggle .line2{
    transition: all 0.4s ease-out;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px,-5px);
}


.mobile-drawer.open {
  transition: all .5s ease-in-out;
  left:0;
}

/* Phone input */

.intl-tel-input,
.iti{
  width: 100%;
}



.iti--separate-dial-code .iti__selected-flag {
  background-color: #7273AD;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.iti__selected-dial-code {
  color:white;
  font-weight: 500;
  font-size: .8rem;
}
.iti__flag.iti__us {
  height: 15px;
  border: 2px solid #a1a2d0;
}

.iti__country-list {
  color: #000;
}

/* Stars */ 


.ops{
  display: -webkit-box;
}
  /*    TOOLTIP   */
.ops .rating.tooltip {
  position: relative;
  opacity: 1;
  z-index: 1;
  color: #cecece;
}

.ops .rating.tooltip:before,
.ops .rating.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.ops .rating.tooltip:after {
	border-right: 6px solid transparent;
	border-top: 6px solid #e89700; 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
  left: 10px;
  width: 0;
}

.ops .rating.tooltip:before {
  background: #e89700;
  border-radius: 2px;
  color: #fff;
  font-size: 13px;
  padding: 6px 10px;
  top: -35px;
  white-space: nowrap;
}

.ops .rating.tooltip.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
}

.ops .rating.tooltip.expand:after {
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}

.ops .rating.tooltip.expand:hover:before,
.ops .rating.tooltip.expand:hover:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}

.ops .rating.tooltip.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}

.ops .rating.tooltip.tt0:before { content: 'Rate this preset'; left: 26px;}
.ops .rating.tooltip.tt0.expand:hover:after { opacity: 0; }

.ops .rating.tooltip.tt1:before { content: 'Your vote: 1/5'; left: 0;}
.ops .rating.tooltip.tt1:after { top: -7px; left: 8px;}

.ops .rating.tooltip.tt2:before { content: 'Your vote: 2/5'; left: 20px;}
.ops .rating.tooltip.tt2:after { top: -7px; left: 30px;}

.ops .rating.tooltip.tt3:before { content: 'Your vote: 3/5'; left: 45px;}
.ops .rating.tooltip.tt3:after { top: -7px; left: 55px;}

.ops .rating.tooltip.tt4:before { content: 'Your vote: 4/5'; left: 68px;}
.ops .rating.tooltip.tt4:after { top: -7px; left: 78px;}

.ops .rating.tooltip.tt5:before { content: 'Your vote: 5/5'; left: 92px;}
.ops .rating.tooltip.tt5:after { top: -7px; left: 102px;}


/*  ----------------------  */

.ops .rating .public-stars {
    position: relative;
    z-index: 1;
}

.ops .rating .user-stars {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    opacity: 0;
    z-index: 2;
    -webkit-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}

.ops .rating:hover .public-stars {
  opacity: 0;
}

.ops .rating:hover .user-stars {
  opacity: 1;
}

.ops .rating .star {
    float: left;
    padding: 5px 2px;
    cursor: pointer;
    transition: 0.5s padding ease;
    margin: 0;
}
.ops .rating .public-stars .star:before, .ops .rating .user-stars .star:before{
    font-family: 'Font Awesome 5 Free';
    content: '\f005';
    font-size: 1.1em;
    text-shadow: none;
}

.ops .rating .public-stars .star:before{
  color: #f8b538;
}

.ops .rating .user-stars .star:before{
  color: #e89700;
}

.ops .rating .user-stars .star:active{
    padding: 0 2px;
}

.ops .rating .user-stars .star:hover:before, .ops .rating .user-stars .star.to_rate:before, .ops .rating .user-stars .star.rated:before {
    color: #e89700;
}

.ops .rating .user-stars .star:hover:before, .rating .user-stars .star.to_rate:before{
    text-shadow: 0 0 6px #e89700;
}

.ops .rating .user-stars .star.no_to_rate:before {
    color: #e89700;
}