@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter text-white bg-violet;
  }
}

@layer components {

}

@layer utilities {
  .container {
    @apply max-w-7xl m-auto px-4 md:px-4; 
  }
}

.row-wrap {
  flex-flow: row wrap;
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-6px,8px);
}
.toggle .line2{
    transition: all 0.4s ease-out;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px,-5px);
}