
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter text-white bg-violet;
  }
}

@layer components {

}

@layer utilities {
  .container {
    @apply max-w-7xl m-auto px-4 md:px-4; 
  }
  .iti__selected-dial-code {
    @apply text-gray-300;
  }
}

.row-wrap {
  flex-flow: row wrap;
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-6px,8px);
}
.toggle .line2{
    transition: all 0.4s ease-out;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px,-5px);
}

/* Phone input */

.intl-tel-input,
.iti{
  width: 100%;
}



.iti--separate-dial-code .iti__selected-flag {
  background-color: #7273AD;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.iti__selected-dial-code {
  color:white;
  font-weight: 500;
  font-size: .8rem;
}
.iti__flag.iti__us {
  height: 15px;
  border: 2px solid #a1a2d0;
}